$primary-color: #196ae5;
$black: #48485e;
$std-padding: 60px 20px;
$breakpoint-tablet: 426px;
$breakpoint-desktop: 768px;
$font-family: "Fira Sans", sans-serif;

* {
  box-sizing: border-box;
  margin: 0;
  font-family: sans-serif;
  color: $black;
  font-family: $font-family;
  &:focus {
    border: none;
  }
}
.center {
  margin: 0 auto;
  text-align: center;
}

h2.title {
  margin: 0 30px 40px;
  text-align: center;
  color: #1b1c1d;
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
  position: relative;

  &::after {
    content: "";
    background-color: #196ae5;
    width: 50%;
    height: 4px;
    position: absolute;
    bottom: -40%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  @media (min-width: $breakpoint-tablet) {
    font-size: 34px;
    line-height: 48px;
  }
}

.container{
  margin: 0 auto;
  @media (min-width: $breakpoint-tablet) {
    max-width: 80%;
  }
}

#hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(./GL-task-assets/bg.jpg);
  background-size: cover;
  background-clip: border-box;
  background-position: center;
  color: #ffffff;
  padding: 14px;

  header {
    .logo {
      width: 180px;
      height: auto;
    }
  }
  .banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 40px 0 20px;

    @media (min-width: 700px) {
      flex-direction: row;
      align-items: center;
    justify-content: space-around;
    }

    .content {
      @media (min-width: 700px) {
        order: 1;
      }
      h1 {
        color: #ffffff;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        margin-bottom: 10px;
      }

      p {
        color: #ffffff;
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        border-left: 1px solid #ffffff;
        padding-left: 14px;
        margin-bottom: 22px;
      }

      h2 {
        color: #ffffff;
        font-size: 20px;
        font-weight: 400;
        line-height: 28px;
      }
    }

    .form {
      padding-bottom: 40px;

      @media (min-width: 700px) {
        order: 2;
      }

      form {
        background-color: #ffffff;
        border-radius: 8px;
        padding: 14px;

        @media (min-width: 700px) {
          width: 310px;
        }

        h2 {
          margin: 0 30px 40px;
          text-align: center;
          color: #1b1c1d;
          font-weight: 600;
          font-size: 24px;
          line-height: 34px;
          position: relative;

          &::after {
            content: "";
            background-color: #1b1c1d;
            width: 50%;
            height: 2px;
            position: absolute;
            bottom: -40%;
            left: 50%;
            transform: translate(-50%, 0);
          }

          @media (min-width: $breakpoint-tablet) {
            font-size: 34px;
            line-height: 48px;
          }
        }

        .form-group {
          margin-bottom: 10px;
          input,
          select {
            display: block;
            width: 100%;
            height: 34px;
            padding: 6px 12px;
            font-size: 14px;
            line-height: 1.42857143;
            color: #555;
            background-color: #fff;
            background-image: none;
            border: 1px solid #a5a5a5;
            border-radius: 4px;
          }
        }
        .checkbox {
          margin-bottom: 10px;
          position: relative;
          height: 40px;

          label {
            position: absolute;
            left: 22px;
            font-size: 11px;
            font-weight: 400;
            line-height: 20px;
          }
        }
        button {
          display: block;
          margin: 0 auto;
          color: #ffffff;
          background-color: #196ae5;
          border: none;
          padding: 10px 30px;
          font-size: 16px;
          border-radius: 4px;
          cursor: pointer;
        }
      }
    }
  }
}

#video {
  padding: $std-padding;

  iframe {
    width: 100%;
    height: 250px;
    margin-top: 28px;

    @media (min-width: 500px) {
      width: 400px;
    }


    @media (min-width: $breakpoint-desktop) {
      width: 600px;
      height: 340px;
    }
  }

  .icon {
    display: none;
    align-items: center;
    justify-content: space-around;
    margin: 40px auto 0;
    max-width: 1200px;

    @media (min-width: $breakpoint-desktop) {
      display: flex;
    }
    .list {
      .icon-list {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        padding: 20px;
        margin: 0 auto;
        position: relative;

        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      p{
        text-align: center;
        margin-top: 10px;
      }
      .curriculum {
        background-color: #f7d354;
      }

      .mentorship {
        background-color: #42c5f1;
      }

      .assistance {
        background-color: #3bab8e;
      }
    }
  }
}

#curriculum {
  background-color: #edf4ff;
  padding: $std-padding;

  .accordion {
    border: 1px solid #c2c5cb;
    background-color: #ffffff;
    margin-top: 50px;

    .accordion-panel {
      padding: 10px;
      border-bottom: 1px solid #c2c5cb;
      &:last-child {
        border: none;
      }
      .accordion-header {
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        line-height: 32px;
        position: relative;
        &::after {
          content: "+";
          position: absolute;
          right: 0;
          font-size: 24px;
        }
      }

      .accordion-body {
        display: none;
        font-size: 14px;
        font-weight: 300;
        line-height: 18px;
        padding-top: 6px;
      }
    }
    .accordion-panel.accordion-expanded {
      .accordion-body {
        display: block;
      }
    }
  }
}

#outcome {
  padding: $std-padding;
  h2 {
    margin: 0 auto;
    text-align: center;
  }
  p {
    margin: 40px 0 20px;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
  .content {

    @media (min-width: $breakpoint-desktop) {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .img {
      img {
        width: 100%;
        height: auto;
      }

    @media (min-width: $breakpoint-desktop) {
      order: 2;
    }
    }
    .data {
      ul {
        list-style-image: url("./GL-task-assets/black-tick.svg");
        padding: 24px;

        li {
          font-size: 16px;
          line-height: 26px;
          padding-bottom: 20px;
        }
      }

    @media (min-width: $breakpoint-desktop) {
      order: 1;
    }
    }
  }
}

#testimonial {
  padding: $std-padding;
  padding-bottom: 180px;
  .testimonial-list {
    position: relative;
    width: 100%;
    height: 250px;
    margin-top: 60px;

    .slider {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      overflow: hidden;
      transform: translate(-50%, -50%);

      // @media (min-width: 700px) {
      //   width: 50%;
      // }

      .slider__slide {
        display: none;
        p {
          font-size: 16px;
          line-height: 26px;
          padding-bottom: 20px;

          @media (min-width: $breakpoint-desktop) {
            width: 90%;
            padding-left: 60px; 
          }
        }

        h5 {
          font-size: 16px;
          font-weight: 600;
          line-height: 26px;

          @media (min-width: $breakpoint-desktop) {
            text-align: right;
            padding-right: 60px; 
          }
        }
      }

      .slider__slide--active {
        display: block;

        animation-name: slider;
        animation-duration: 1.2s;
        animation-fill-mode: forwards;
      }

      .slider__btn-prev,
      .slider__btn-next {
        display: none;

        @media (min-width: $breakpoint-desktop) {
          display: inline-block;
          position: absolute;
          top: 50%;
          z-index: 1;
          width: 40px;
          height: 100px;
          border: none;
          transform: translateY(-100%);
          background-color: transparent;
          cursor: pointer;
        }
        img{
          width: 30px;
          height: auto;
          object-fit: contain;
        }
      }

      .slider__btn-prev {
        left: 0;
      }

      .slider__btn-next {
        right: 0;
      }

      button.slider__btn-next img {
        transform: rotate(180deg);
      }

      .slider__indicator-box {
        position: absolute;
        left: 50%;
        bottom: 0;
        z-index: 1;
        transform: translateX(-50%);

        @media (min-width: $breakpoint-desktop) {
          display: none;
        }
      }

      .slider__indicator {
        width: 10px;
        height: 10px;
        margin-right: 5px;
        padding: 0;
        border: none;
        border-radius: 50%;
        background: none;
        background-color: #c7c7c7;

        transition: background-color 0.4s;

        &:last-child {
          margin-right: 0;
        }
      }

      .slider__indicator--active {
        background-color: #4386de;
      }

      @keyframes slider {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      .sr-only {
        position: absolute;

        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;

        border: 0;

        clip: rect(0, 0, 0, 0);
        overflow: hidden;
      }
    }
  }
}

footer {
  background-color: #f4f4f4;
  text-align: center;
  .footer-one {
    p {
      font-size: 16px;
      font-weight: 400;
      padding: 36px 12px;
      line-height: 28px;
    }
  }
  .footer-two {
    background-color: #260591;
    p {
      display: none;
      color: #ffffff;
      padding: 0 20px;
      @media (min-width: 500px) {
        display: inline-block;
      }
    }
    button {
      margin: 10px auto;
      padding: 10px 40px;
      font-size: 16px;
      color: #260591;
      cursor: pointer;
      border-radius: 4px;
    }
  }
}
